<div class="row">
    <div class="col-4">
        <%= image_tag avatar_url(@user), class: "avatar-lg" %>
        <div class="card user_show_card">
            <div class="card-header text-info text-center">
                <h2>Verification</h2>
            </div>
            <div class="card-body">
                <% if @user.email %>
                    <div class="p-1">Email Address
                        <i class="fa fa-check-circle text-success"></i>
                    </div>
                <% end %>

                <% if @user.phone_number %>
                    <div class="p-1">Phone Number
                        <i class="fa fa-check-circle text-success"></i>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-8">
       <h2><%= @user.fullname %></h2>
    </div>
</div>

