<div class="col-3">
    <div class="card">
        <div class="card-body">
            <%= link_to "Your Listing", rooms_path, class: "text-info" %> <br>
            <%= link_to "Your Reservations","#", class: "text-info" %> <br>
            <%= link_to "Yout tips","#", class: "text-info" %> <br>
        </div>
    </div>
</div>