<div class="card">
    <div class="card-header">
        <p>Listing</p>
        <p>Pricing</p>
        <p>Description</p>
        <p>Photos</p>
        <p>Amenities</p>
        <p>Location</p>
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-success">Publish</button>
    </div>
</div>