<div class="row">
    <div class="col-3">
        <%= render "sidebar" %> 
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header text-info">
                <p class="m-0">Create your beautiful place</p>
            </div>

            <div class="card-body">
                <div class="form-group"></div>
                <%= form_for(@room) do |f| %> 
                    <p>Adrress</p>           
                    <%= f.text_field :address, placeholder: "Where is your adress?", class:"form-control", required: true %>
                    <%= f.submit "Save", class: 'btn btn-block btn-success w-25 my-3'%>
                <% end %>
            </div>
        </div>
    </div>
</div>