@import "bootstrap";
@import "font-awesome";
@import "toastr";


.form-inline .form-control{
  width: 200px;
}

.user_show_card{
  width: 250px;
}

.avatar-lg {
  width: 250px;
}
.avatar-sm{
  width: 25px
}