@import "bootstrap";
@import "font-awesome";
@import "toastr";


.form-inline .form-control{
  width: 200px;
}

.user_show_card{
  width: 250px;
}

.avatar-lg {
  width: 250px;
}
.avatar-sm{
  width: 25px
}
.avatar-md{
  width: 50px;
  margin:10px 0px 5px 30px;
}

.btn-default {
  width: 100%;
  border-color: green;
  color: black;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"]{
  top: 0;
  right: 0;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
#update-button{
  width: 100px;
  height: 40px;

}
.line-through{
  text-decoration: line-through;
}

.map-margin{
  margin-left: 2px;
  margin-right: 1px; 
}
#map {
  position: relative;
  width:813px;
  height: 544px;
}


.map-image{
  height: 100px;
  width: 150px;
}
.room-photo{
  padding-left:0px;
}
.photo-size-trip{
  width:80px;
  padding:50px;
}